*{	
	box-sizing:border-box;  /*Mantiene el ancho que uno especifique independientemente  del padding que tenga el elemento,  *{es para todos los elementos }  */
} 

html, body {
  height: 100%;
  padding: 40px;
}

body{

	font-family: 'Roboto', sans-serif;
	background: url('../images/background.jpg') no-repeat 50%; 
	background-size: cover;
}

.contenedor{
	padding: 10px;
	width: 600px;
	border-radius: 10px;
	background-color: #4D4C4B;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
}

#boton button{
	background-color: #DB3030;
	padding: 20px 40px;
	margin: 20px 0;
	color: white;
	line-height: 0px;
	font-weight: bold;
	border: 0px; 

}


@media screen and (max-width: 900px) { 
  .contenedor {
    width:auto;
    height:auto;
    font-size:16px; 
  }

}

